html {height: 100%; }
body {height: 100%; }
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
}

.right-menu li{
	display: inline-block;
	margin-top: 30px !important;

}
.right-menu li .fab{
	font-size: 18px;
	margin-left: 10px;
	cursor: pointer;
}
.navbar-brand img{
	width: 40px;

}

.navbar-brand {
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
	position: absolute;
	/*
	x ekseininde tam ortaya aldık anasayfa görselini
	*/

}

.header{
	background-color: #f5f6fc;
	margin-bottom: -80px;
}

.navbar{
	padding: 0 35px !important;
}

.navbar-toggler{
	border:none !important;
	outline: none !important;
	padding: 0 !important;
	margin-top: 30px;
}
.navbar-toggler .fas{
	font-size:30px;
	cursor: pointer;
}

.banner-img{
	margin: 80px 115px;
	width: 60%;
}
.banner-img img{
	width: 100%;
	margin-bottom: -80px
}
.banner{
	position: relative;
}
.banner-title{
	position: absolute;
	left: 50%;
	top: 20%;
}
.banner-title h1,h2{
	font-size: 55px;
	background: rgba(0,0,0,0.75);
	color: #fff;
	line-height: 70px;
	padding: 0 10px 0 10px;
}


/* fashion-trends */

.fashion-trends{
	padding: 100px 0;
}

.fashion-box{
	margin: 80px 0;

}


.title-style h1{
	padding: 40px 0;
}

.title-style{
	margin: 0 auto 80px;
	height: 120px;
	width: 80%;
	max-width: 700px;
	background: #fff;
	position: relative;
	box-shadow: 0 4px 5px 0 black;
}



.title-style::after{
	content: '';
	height: 100px;
	width: 200px;
	background-color: #f992a6;
	position: absolute;
	top: -10px;
	left: -10px;
}